@import "base";

@include global-reset;

$sans-serif: "Open Sans", 'open-sans','sans-serif';
$serif: "Museo Slab",'museo-slab','serif';

body {
	font-family: $sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
}

/* vertical rhythm */
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

h1 {
	@include adjust-font-size-to(36px);
	@include trailer(.5);
}

h2 {
	@include adjust-font-size-to(24px);
	@include trailer(.5);
}

h3 {
	@include trailer(.5);	
}

